{{ if .Site.Params.education.enable | default false }}
{{- $education := .Site.Language.Params.education | default .Site.Params.education -}}
<section id="education" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $education.title | default .Site.Params.education.title | default (i18n "education") }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-2 bg-transparent primary-font" id="edu-pills-tab" role="tablist">
                        {{ range $index, $element := $education.items | default .Site.Params.education.items }}
                            {{ $slug := replaceRE "-+" "-" (replaceRE "[^a-zA-Z0-9]" "-" (print .school.name "-" .date)) | lower }}
                            <li class="nav-item px-1 bg-transparent" role="presentation">
                                <div
                                    class="nav-link {{ if (eq $index 0) }}active{{ end }} bg-transparent"
                                    aria-selected="true"
                                    role="tab"
                                    data-bs-toggle="pill"
                                    id='edu-{{ $slug }}-tab'
                                    data-bs-target='#edu-pills-{{ $slug }}'
                                    aria-controls='edu-pills-{{ $slug }}'
                                >
                                    {{ .school.name }}
                                </div>
                            </li>
                        {{ end }}
                    </ul>

                    <div class="tab-content pb-3 bg-transparent primary-font" id="edu-pills-tabContent">
                        {{ range $index, $element := $education.items | default .Site.Params.education.items }}
                            {{ $slug := replaceRE "-+" "-" (replaceRE "[^a-zA-Z0-9]" "-" (print .school.name "-" .date)) | lower }}
                            <div
                                class="tab-pane fade bg-transparent {{ if eq $index 0 }}show active{{ end }}"
                                role="tabpanel"
                                id='edu-pills-{{ $slug }}'
                                aria-labelledby='edu-{{ $slug }}-tab'
                            >
                                <div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="h4">{{ .title }}</span>
                                            {{ if .school.name }}
                                                <small>-</small>
                                                {{ if .school.url }}
                                                <a href="{{ .school.url }}" target="_blank">{{ .school.name }}</a>
                                                {{ else }}
                                                {{ .school.name }}
                                                {{ end }}
                                            {{ end }}
                                        </div>
                                        <div class="d-block">
                                            <small>{{ .date }}</small>
                                        </div>
                                    </div>
                                    {{ if .GPA }}
                                    <div class="py-1">
                                        GPA: <i><small>{{ .GPA }}</small></i>
                                    </div>
                                    {{ end }}
                                    <div class="pb-2 pb-3 education-content">
                                        {{ .content | markdownify }}
                                    </div>
                                    {{ if .featuredLink.enable }}
                                    <div class="py-1">
                                        <a href="{{ .featuredLink.url }}" class="btn">{{ .featuredLink.name | default "Featured" }}</a>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
