{{ if .Site.Params.experience.enable | default false }}
{{- $experience := .Site.Language.Params.experience | default .Site.Params.experience -}}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $experience.title | default .Site.Params.experience.title | default (i18n "experience") }}</h3>
        <div class="row justify-content-center py-5">
            {{ range $index, $element := $experience.items | default .Site.Params.experience.items }}
            {{ $company := .company }}
            {{ $companyUrl := .companyUrl }}
            <div class="col-12 p-0">
                <div class="row align-items-center justify-content-center m-1 mb-4">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="org-head d-flex align-items-center mb-2">
                                    {{ $initials := "" }}{{ range (first 2 (split $company " ")) }}{{ $initials = printf "%s%s" $initials (substr . 0 1) }}{{ end }}
                                    <span class="org-logo me-3">
                                        {{ if .logo }}<img src="{{ .logo }}" alt="{{ $company }} logo" loading="lazy">
                                        {{ else }}<span class="org-monogram">{{ $initials | upper }}</span>{{ end }}
                                    </span>
                                    {{ if $companyUrl }}
                                    <a href="{{ $companyUrl }}" target="_blank">
                                        <h5 class="card-title mb-0">{{ $company }}</h5>
                                    </a>
                                    {{ else }}
                                    <h5 class="card-title mb-0">{{ $company }}</h5>
                                    {{ end }}
                                </div>

                                {{ range $jobIdx, $job := .jobs }}
                                <div class="{{ if gt $jobIdx 0 }}pt-3 mt-3 border-top{{ end }}">
                                    <div class="float-end"><small>{{ $job.date }}</small></div>
                                    <h6 class="mb-1">
                                        {{ $job.name }}
                                        {{ if $job.info.content }}
                                        <span class="p-1">
                                            <span
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="{{ $job.info.content }}"
                                            >
                                                <i class="fas fa-info-circle fa-xs"></i>
                                            </span>
                                        </span>
                                        {{ end }}
                                    </h6>
                                    <div class="py-1 education-content">
                                        {{ $job.content | markdownify }}
                                    </div>
                                    {{ if $job.featuredItems }}
                                    <div class="featuredLink list-inline d-flex align-items-center">
                                        {{ range $job.featuredItems.fontAwesomeIcons }}
                                        <div class="list-inline-item">
                                            <a href="{{ .url }}" target="_blank"
                                                {{ if .tooltip }}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ .tooltip }}"{{ end }}>
                                                <i class="{{ .icon }}"></i>
                                            </a>
                                        </div>
                                        {{ end }}
                                        {{ range $job.featuredItems.customIcons }}
                                        <div class="list-inline-item">
                                            <a href="{{ .url }}" target="_blank"
                                                {{ if .tooltip }}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{ .tooltip }}"{{ end }}>
                                                <img src="{{ .icon }}">
                                            </a>
                                        </div>
                                        {{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
